MDK-ARM/shiyan002/
MDK-ARM/*.log
MDK-ARM/JLink*
MDK-ARM/build_output.log
MDK-ARM/flash.jlink
MDK-ARM/readvars.jlink
MDK-ARM/check_boot.jlink
*.o
*.d
*.crf
*.dep
*.htm
*.axf
*.hex
*.lnp
*.map
*.lst
__pycache__/
.pytest_cache/
