CONFIG_L610_SOFTAP_SHARE_ENABLE=y
CONFIG_ESP_WIFI_STA_SSID=""
CONFIG_ESP_WIFI_STA_PASSWORD=""
CONFIG_ESP_WIFI_AP_SSID="ESP-L610-4G"
CONFIG_ESP_WIFI_AP_PASSWORD="CHANGE_ME_AP_PASSWORD"
CONFIG_ESP_WIFI_AP_CHANNEL=6
CONFIG_MODEM_WIFI_MAX_STA=4
CONFIG_SERVER_IP="192.168.4.1"
CONFIG_WIFI_BANDWIFTH_20=y
CONFIG_WIFI_BANDWIFTH_40=n
CONFIG_EXAMPLE_ENABLE_WEB_ROUTER=n
CONFIG_LWIP_IP_FORWARD=y
CONFIG_LWIP_IPV4_NAPT=y
CONFIG_LWIP_DHCPS_ADD_DNS=y
CONFIG_LWIP_IPV6=n
CONFIG_VIDEO_UDP_PROTOCOL_VERSION=1
CONFIG_VIDEO_UDP_PAYLOAD_SIZE=1200
CONFIG_VIDEO_UDP_FPS=8
CONFIG_VIDEO_LOCAL_MJPEG_PORT=8080
CONFIG_VIDEO_UDP_BURST_PACKETS=3
CONFIG_VIDEO_UDP_BURST_YIELD_MS=1
CONFIG_VIDEO_UDP_FLOW_COUNT=1
CONFIG_VIDEO_UDP_WARMUP_STEP_SECONDS=0
CONFIG_VIDEO_UDP_EXTENDED_RAMP=n
CONFIG_VIDEO_CAMERA_FRAME_SIZE_VGA=y
CONFIG_VIDEO_CAMERA_FRAME_SIZE_QVGA=n
CONFIG_VIDEO_CAMERA_JPEG_QUALITY=20
CONFIG_VIDEO_CAMERA_ENABLE=y
CONFIG_TELEMETRY_UART_ENABLE=y
CONFIG_TELEMETRY_UART_SHARED_CONSOLE_TEST=n
CONFIG_TELEMETRY_UART_NUM=1
CONFIG_TELEMETRY_UART_TX_GPIO=1
CONFIG_TELEMETRY_UART_RX_GPIO=2
CONFIG_TELEMETRY_UART_BAUD=115200
CONFIG_TELEMETRY_UART_FRAME_TIMEOUT_MS=300
CONFIG_TELEMETRY_HEARTBEAT_INTERVAL_MS=2000
CONFIG_TELEMETRY_DEVICE_ID="esp32s3-01"
CONFIG_TELEMETRY_UDP_SERVER_IP="192.0.2.10"
CONFIG_TELEMETRY_UDP_SERVER_PORT=9093
